.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pokedex-search-box {
  text-align: center;
}

.pokedex-search-box .pokedex-search-bar {
  width: 15rem;
}

.pokedex p {
  font-weight: 200;
}